version: 2
updates:
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: weekly
    commit-message:
      prefix: ci
    groups:
      minor-and-patch:
        patterns:
          - '*'
        update-types:
          - "minor"
          - "patch"
      major:
        patterns:
          - '*'
        update-types:
          - "major"
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: weekly
    commit-message:
      prefix: ci
    groups:
      actions-deps:
        patterns:
          - '*'
