version: 2
updates:
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: weekly
    commit-message:
      prefix: ci
    groups:
      dev-dependencies:
        patterns:
          - '*'
      storybook:
        patterns:
          - '@storybook/*'
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: weekly
    commit-message:
      prefix: ci
    groups:
      actions-deps:
        patterns:
          - '*'
