# Swap files (vim)
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
# Temporary files including undo
*~
.DS_Store

# JetBrains
.idea/*
!.idea/prettier.xml
!.idea/jsLinters/
.idea/jsLinters/*
!.idea/jsLinters/eslint.xml

# PHPStorm
.phpstorm.*
!/.phpstorm.meta.php/
/.phpstorm.meta.php/*
!/.phpstorm.meta.php/di.php

# VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

/dist/
/node_modules/
/storybook-static/
build-storybook.log
/coverage/
