$content-font-family-base: Roboto; // Default typeface for all UI text. Ensures global consistency.
$content-font-family-code: Menlo; // Typeface for code, preformatted text, or monospace contexts.
$content-font-weight-italic-bold: Bold Italic;
$content-font-weight-italic-light: Light Italic;
$content-font-weight-italic-medium: Medium Italic;
$content-font-weight-italic-normal-base: Italic;
$content-font-weight-italic-semibold: Semi Bold Italic;
