$color-body-background-default: #ffffff;
$color-body-background-secondary: #e9ecef;
$color-body-background-tertiary: #f8f9fa;
$color-body-text-default: #1d2125;
$color-body-text-emphasis: #000000;
$color-body-text-secondary: rgba(29, 33, 37, 0.75);
$color-body-text-tertiary: rgba(29, 33, 37, 0.5);
$color-border-default: #dee2e6;
$color-border-translucent: rgba(0, 0, 0, 0);
$color-brand-primary-moodle-black: #282828;
$color-brand-primary-moodle-blue: #194866;
$color-brand-primary-moodle-orange: #f98012;
$color-brand-secondary-bright-blue: #69e0ff;
$color-brand-secondary-dark-grey: #545454;
$color-brand-secondary-light-blue: #65a1b3;
$color-brand-secondary-light-grey: #8a8a8e;
$color-brand-secondary-light-peach: #fff8f1;
$color-brand-secondary-medium-peach: #ffecdb;
$color-brand-secondary-peach: #fedec3;
$color-button-outline-danger: #ca3120;
$color-button-outline-danger-active: #a2271a;
$color-button-outline-danger-disabled: #df8379;
$color-button-outline-danger-hover: #ca3120;
$color-button-outline-primary: #0f6cbf;
$color-button-outline-primary-active: #0c5699;
$color-button-outline-primary-disabled: #6fa7d9;
$color-button-outline-primary-hover: #0f6cbf;
$color-button-outline-secondary: #6a737b;
$color-button-outline-secondary-active: #495057;
$color-button-outline-secondary-disabled: #8f959e;
$color-button-outline-secondary-hover: #6a737b;
$color-button-danger: #ca3120;
$color-button-danger-active: #791d13;
$color-button-danger-disabled: #df8379;
$color-button-danger-hover: #a2271a;
$color-button-primary: #0f6cbf;
$color-button-primary-active: #094173;
$color-button-primary-disabled: #6fa7d9;
$color-button-primary-hover: #0c5699;
$color-button-secondary: #ced4da;
$color-button-secondary-active: #ced4da;
$color-button-secondary-disabled: #e9ecef;
$color-button-secondary-hover: #dee2e6;
$color-component-active-background: #0f6cbf;
$color-component-active-text: #ffffff;
$color-contrast-contrast-dark: #000000;
$color-contrast-contrast-light: #ffffff;
$color-focus-ring-default: #0f6cbf;
$color-icon-fa-border-color: #eeeeee;
$color-icon-fa-inverse: #ffffff;
$color-link-default: #0f6cbf;
$color-link-hover: #0c5699;
$color-theme-background-subtle-danger: #f4d6d2;
$color-theme-background-subtle-dark: #ced4da;
$color-theme-background-subtle-info: #cce6ea;
$color-theme-background-subtle-light: #f8f9fa;
$color-theme-background-subtle-primary: #cfe2f2;
$color-theme-background-subtle-secondary: #f8f9fa;
$color-theme-background-subtle-success: #d7e4d6;
$color-theme-background-subtle-warning: #fcefdc;
$color-theme-border-subtle-danger: #eaada6;
$color-theme-border-subtle-dark: #8f959e;
$color-theme-border-subtle-info: #99cdd5;
$color-theme-border-subtle-light: #e9ecef;
$color-theme-border-subtle-primary: #9fc4e5;
$color-theme-border-subtle-secondary: #e9ecef;
$color-theme-border-subtle-success: #aecaad;
$color-theme-border-subtle-warning: #f9deb8;
$color-theme-text-emphasis-danger: #51140d;
$color-theme-text-emphasis-dark: #495057;
$color-theme-text-emphasis-info: #00343c;
$color-theme-text-emphasis-light: #495057;
$color-theme-text-emphasis-primary: #062b4c;
$color-theme-text-emphasis-secondary: #343a40;
$color-theme-text-emphasis-success: #153114;
$color-theme-text-emphasis-warning: #60451f;
$color-theme-danger: #ca3120;
$color-theme-dark: #1d2125;
$color-theme-info: #008196;
$color-theme-light: #f8f9fa;
$color-theme-primary: #0f6cbf;
$color-theme-secondary: #ced4da;
$color-theme-success: #357a32;
$color-theme-warning: #f0ad4e;
