$color-brand-blue-100: #69e0ff;
$color-brand-blue-200: #65a1b3;
$color-brand-blue-300: #194866;
$color-brand-grey-100: #8a8a8e;
$color-brand-grey-200: #545454;
$color-brand-grey-300: #282828;
$color-brand-orange-100: #fff8f1;
$color-brand-orange-200: #ffecdb;
$color-brand-orange-300: #fedec3;
$color-brand-orange-400: #f98012;
$color-color-blue-100: #cfe2f2;
$color-color-blue-200: #9fc4e5;
$color-color-blue-300: #6fa7d9;
$color-color-blue-400: #3f89cc;
$color-color-blue-500: #0f6cbf;
$color-color-blue-600: #0c5699;
$color-color-blue-700: #094173;
$color-color-blue-800: #062b4c;
$color-color-blue-900: #031626;
$color-color-cyan-100: #cce6ea;
$color-color-cyan-200: #99cdd5;
$color-color-cyan-300: #66b3c0;
$color-color-cyan-400: #339aab;
$color-color-cyan-500: #008196;
$color-color-cyan-600: #006778;
$color-color-cyan-700: #004d5a;
$color-color-cyan-800: #00343c;
$color-color-cyan-900: #001a1e;
$color-color-gray-100: #f8f9fa;
$color-color-gray-200: #e9ecef;
$color-color-gray-300: #dee2e6;
$color-color-gray-400: #ced4da;
$color-color-gray-500: #8f959e;
$color-color-gray-600: #6a737b;
$color-color-gray-700: #495057;
$color-color-gray-800: #343a40;
$color-color-gray-900: #1d2125;
$color-color-gray-black: #000000;
$color-color-gray-white: #ffffff;
$color-color-green-100: #d7e4d6;
$color-color-green-200: #aecaad;
$color-color-green-300: #86af84;
$color-color-green-400: #5d955b;
$color-color-green-500: #357a32;
$color-color-green-600: #2a6228;
$color-color-green-700: #20491e;
$color-color-green-800: #153114;
$color-color-green-900: #0b180a;
$color-color-indigo-100: #e0cffc;
$color-color-indigo-200: #c29ffa;
$color-color-indigo-300: #a370f7;
$color-color-indigo-400: #8540f5;
$color-color-indigo-500: #6610f2;
$color-color-indigo-600: #520dc2;
$color-color-indigo-700: #3d0a91;
$color-color-indigo-800: #290661;
$color-color-indigo-900: #140330;
$color-color-orange-100: #ffe3d1;
$color-color-orange-200: #ffc8a3;
$color-color-orange-300: #ffac74;
$color-color-orange-400: #ff9146;
$color-color-orange-500: #ff7518;
$color-color-orange-600: #cc5e13;
$color-color-orange-700: #99460e;
$color-color-orange-800: #662f0a;
$color-color-orange-900: #331705;
$color-color-pink-100: #f8d1e3;
$color-color-pink-200: #f1a3c7;
$color-color-pink-300: #e976ac;
$color-color-pink-400: #e24890;
$color-color-pink-500: #db1a74;
$color-color-pink-600: #af155d;
$color-color-pink-700: #831046;
$color-color-pink-800: #580a2e;
$color-color-pink-900: #2c0517;
$color-color-purple-100: #dfd8e5;
$color-color-purple-200: #c0b1cb;
$color-color-purple-300: #a08bb0;
$color-color-purple-400: #816496;
$color-color-purple-500: #613d7c;
$color-color-purple-600: #4e3163;
$color-color-purple-700: #3a254a;
$color-color-purple-800: #271832;
$color-color-purple-900: #130c19;
$color-color-red-100: #f4d6d2;
$color-color-red-200: #eaada6;
$color-color-red-300: #df8379;
$color-color-red-400: #d55a4d;
$color-color-red-500: #ca3120;
$color-color-red-600: #a2271a;
$color-color-red-700: #791d13;
$color-color-red-800: #51140d;
$color-color-red-900: #280a06;
$color-color-teal-100: #d2f4ea;
$color-color-teal-200: #a6e9d5;
$color-color-teal-300: #79dfc1;
$color-color-teal-400: #4dd4ac;
$color-color-teal-500: #20c997;
$color-color-teal-600: #1aa179;
$color-color-teal-700: #13795b;
$color-color-teal-800: #0d503c;
$color-color-teal-900: #06281e;
$color-color-yellow-100: #fcefdc;
$color-color-yellow-200: #f9deb8;
$color-color-yellow-300: #f6ce95;
$color-color-yellow-400: #f3bd71;
$color-color-yellow-500: #f0ad4e;
$color-color-yellow-600: #c08a3e;
$color-color-yellow-700: #90682f;
$color-color-yellow-800: #60451f;
$color-color-yellow-900: #302310;
$color-shadows-lg: rgba(0, 0, 0, 0.18);
$color-shadows-md: rgba(0, 0, 0, 0.15);
$color-shadows-sm: rgba(0, 0, 0, 0.08);
$content-typography-font-family-monospace: Menlo;
$content-typography-font-family-sans-serif: Roboto;
$content-typography-font-weight-italic-black-900: Black Italic;
$content-typography-font-weight-italic-bold-700: Bold Italic;
$content-typography-font-weight-italic-extrabold-800: Extra bold Italic;
$content-typography-font-weight-italic-extralight-200: Extra light Italic;
$content-typography-font-weight-italic-light-300: Light Italic;
$content-typography-font-weight-italic-medium-500: Medium Italic;
$content-typography-font-weight-italic-regular-400: Italic;
$content-typography-font-weight-italic-semibold-600: Semi Bold Italic;
$content-typography-font-weight-italic-thin-100: Thin Italic;
