$color-background-colors-primary: #ffffff;
$color-background-colors-secondary: #e9ecef;
$color-background-colors-tertiary: #f8f9fa;
$color-text-colors-emphasis: #000000;
$color-text-colors-link: #0f6cbf;
$color-text-colors-link-hover: #0c5699;
$color-text-colors-primary: #1d2125;
$color-text-colors-secondary: rgba(29, 33, 37, 0.75);
$color-text-colors-tertiary: rgba(29, 33, 37, 0.5);
