@import '/tokens/css/index.css';

.mds-btn.btn {
  background-color: var(--bg-interactive-primary-default);
  border: var(--stroke-weight-sm-default) solid var(--border-translucent);
  border-radius: var(--border-radius-lg);
  padding: var(--spacing-xs) var(--spacing-sm);

  color: var(--text-inverse);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-normal-regular);
  font-size: var(--font-size-paragraph-base-text);
  line-height: var(--line-height-paragraph-small);
  letter-spacing: var(--letter-spacing-default);
}
.mds-btn.btn:hover {
  background-color: var(--bg-interactive-primary-hover);
}
.mds-btn.btn:active {
  background-color: var(--bg-interactive-primary-active);
  border: var(--stroke-weight-sm-default) solid var(--border-translucent);
}
.mds-btn.btn:disabled {
  background-color: var(--bg-interactive-primary-disabled);
}

/**
  * Secondary variants
  */
.mds-btn.btn.btn-secondary {
  background-color: var(--bg-interactive-secondary-default);
  color: var(--text-default);
}
.mds-btn.btn.btn-secondary:hover {
  background-color: var(--bg-interactive-secondary-hover);
}
.mds-btn.btn.btn-secondary:active {
  background-color: var(--bg-interactive-secondary-active);
}
.mds-btn.btn.btn-secondary:disabled {
  background-color: var(--bg-interactive-secondary-disabled);
}

/**
  * Danger variants
  */
.mds-btn.btn-danger {
  background-color: var(--bg-interactive-danger-default);
}
.mds-btn.btn-danger:hover {
  background-color: var(--bg-interactive-danger-hover);
}
.mds-btn.btn-danger:active {
  background-color: var(--bg-interactive-danger-active);
}
.mds-btn.btn.btn-danger:disabled {
  background-color: var(--bg-interactive-danger-disabled);
}

/**
  * Outline Primary variants
  */
.mds-btn.btn-outline-primary {
  background-color: transparent;
  border: var(--stroke-weight-sm-default) solid
    var(--border-interactive-primary-default);
  color: var(--text-link-primary-default);
}
.mds-btn.btn-outline-primary:hover {
  background-color: var(--bg-interactive-primary-hover);
  color: var(--text-inverse);
}
.mds-btn.btn-outline-primary:active {
  background-color: var(--bg-interactive-primary-active);
  color: var(--text-inverse);
}
.mds-btn.btn.btn-outline-primary:disabled {
  background-color: transparent;
  border: var(--stroke-weight-sm-default) solid
    var(--border-interactive-primary-disabled);
  color: var(--mds-color-blue-300);
}

/**
  * Outline Secondary variants
  */
.mds-btn.btn-outline-secondary {
  background-color: transparent;
  border: var(--stroke-weight-sm-default) solid
    var(--border-interactive-secondary-default);
  color: var(--text-muted);
}
.mds-btn.btn-outline-secondary:hover {
  background-color: var(--border-interactive-secondary-hover);
  color: var(--text-inverse);
}
.mds-btn.btn-outline-secondary:active {
  background-color: var(--border-interactive-secondary-active);
  color: var(--text-inverse);
}
.mds-btn.btn.btn-outline-secondary:disabled {
  background-color: transparent;
  border: var(--stroke-weight-sm-default) solid
    var(--border-interactive-secondary-disabled);
  color: var(--mds-color-gray-500);
}

/**
  * Outline Danger variants
  */
.mds-btn.btn-outline-danger {
  background-color: transparent;
  border: var(--stroke-weight-sm-default) solid
    var(--border-interactive-danger-default);
  color: var(--text-danger);
}
.mds-btn.btn-outline-danger:hover {
  background-color: var(--bg-interactive-danger-default);
  color: var(--text-inverse);
}
.mds-btn.btn-outline-danger:active {
  background-color: var(--bg-interactive-danger-hover);
  color: var(--text-inverse);
}
.mds-btn.btn.btn-outline-danger:disabled {
  background-color: transparent;
  border: var(--stroke-weight-sm-default) solid
    var(--border-interactive-danger-disabled);
  color: var(--mds-color-red-300);
}

/**
  * Size variants
  */
.mds-btn.btn-sm {
  padding: var(--spacing-xxs) var(--spacing-xs);
  font-size: var(--font-size-paragraph-small);
  line-height: var(--line-height-paragraph-small);
}
.mds-btn.btn-lg {
  padding: var(--spacing-xs) var(--spacing-md-default);
  font-size: var(--font-size-paragraph-lead);
  line-height: var(--line-height-paragraph-base-text);
}
