// TODO: We may need to compile Bootstrap with our tokens prefixed to avoid Storybook deprecation notices for color.
//@use 'bootstrap' as *;
//@use '../../../assets/scss/token_LMSPrimitives_Defaultmode.scss' as *;
//
//.mds-btn {
//  background-color: $brand-orange-400;
//}
