name: Storybook & Accessibility test
on: pull_request
jobs:
  test:
    runs-on: ubuntu-latest
    container:
      # Make sure to grab the latest version of the Playwright image
      # https://playwright.dev/docs/docker#pull-the-image
      image: mcr.microsoft.com/playwright:v1.56.0-noble
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22.12.0

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm run test-storybook
        continue-on-error: true # Megahack to build Storybook and have React happy.

      - name: Run tests again
        run: npm run test-storybook
        if: always() # Megahack to make the test run in a stable environment.
